VITE_SUPABASE_URL=https://waursplxmwepnsxqneig.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhdXJzcGx4bXdlcG5zeHFuZWlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2ODM3MjUsImV4cCI6MjEwNDI1OTcyNX0.dGVUndRm0p5MXbnPzly4Y30Z6eGCaR86q8X1G8Z3tB4
